<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title, :class => "control-label" %>
        <%= f.text_field :title ,:class =>"form-control", :placeholder => "Paste a title for site" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :given_url ,'URL', :class => "control-label" %>
        <%= f.text_field :given_url ,:class =>"form-control", :placeholder => "Enter a link to shorten" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Make short URL' %>
  </div>
<% end %>
