<p id="notice"><%= notice %></p>

<h1>Total Links</h1>

<%= render :partial => 'links/links' %>
<div class="digg_pagination">
  <%= will_paginate @links %>
</div>

<br>

<%= link_to 'New Link', new_link_path %> |
<%= link_to 'Top links', root_path %>
